.header-container{
	background: #090213;
}
.ads-container{
	padding-top: 0.5%;
  align-items: center;
  justify-content: center;
}
.ads-banner{
	width: auto;
	border-radius: 10px;
	box-shadow: 0px 3px 20px rgba(64, 79, 219, 0.25);
}
.ads-banner:hover{
	cursor: pointer;
}
.ads-banner:hover{
	box-shadow: 0px 3px 20px rgba(64, 79, 219, 0.55);
}
::-webkit-scrollbar {
  background: none !important;
}
.header-sep-line{
	position: relative;
	margin-left: -10%;
	width: 150% !important;
	color: rgba(128, 45, 230, 0.32);
}
.metacoinmarket-nav{
	width: 100%;
	margin-top: -0.5%;
	padding: 0;
	padding-bottom: 0.5%;
	background: #090213;
}
@media only screen and (max-width: 767px){
	.metacoinmarket-nav{
		padding-bottom: 3%;
	}
}
.nav-link, .nav-item{
	font-family: "Exo 2", sans-serif;
	font-weight: 400;
	font-size: 95%;
	color: #ffffff;
	text-shadow: 0px 0px 5px rgba(121,34,240, 0.08);
}
@media only screen and (max-width: 1199px){
	.nav-link{
		text-align: center;
	}
}
.nav-link:hover{
	text-shadow: 0px 0px 10px rgba(121,34,240,0.9);
}
@media only screen and (max-width: 1199px){
	.search-button-container{
	  text-align: center;
	}
}
.search-button{
	font-family: "Exo 2", sans-serif;
	font-weight: 300;
	font-size: 85%;
	color: rgba(255,255,255,0.4);
	border: 1px solid rgba(255,255,255,0.01);
	border: none;
	border-radius: 5px;
	background: #130426;
	background: none;
	background: linear-gradient(to right, rgba(112,109,238,0.7) 0%,rgba(121,34,240,0.7) 100%);
	background: #120424;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 50px;
}
@media only screen and (max-width: 1199px){
	.search-button{
		width: 40%;
		padding-top: 15px;
	  padding-bottom: 15px;
	  display: block !important;
	  margin: 0 auto;
	  margin-bottom: 3%;
	}
}
@media only screen and (max-width: 991px){
	.search-button{
		width: 60%;
	}
}
@media only screen and (max-width: 767px){
	.search-button{
		width: 70%;
	}
}
@media only screen and (max-width: 480px){
	.search-button{
		width: 100%;
	}
}
.navbar-toggler-icon{
	border: none !important;
	box-sizing: none !important;
	background: url("../assets/menu-3-line.svg");
}