.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card {
  margin: 0 0.5em;
  background: linear-gradient(to bottom, rgba(4,3,33,0) 0%,rgba(140,24,174,0) 30%,rgba(204,34,240,0.07) 100%);
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: 1px solid rgba(157, 59, 220, 0.7);
  border-radius: 10px;
}

.card-text{
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  font-size: 80%;
  color: rgba(255,255,255,0.5);
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  font-size: 20%;
  background-color: #130826;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  width: 1rem !important;
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}
/* Trending coins */
.tr-coin-card{
  height: 170px !important;
  padding-bottom: 0% !important;
}
.trending-coin{
  position: relative;
  margin-top: 8%;
  margin-left: 10%;
}
.trending-coin-name-price{
  position: relative;
  margin-left: 3%;
}
.trending-coin-price{
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 100%;
  color: rgba(255,255,255,0.7);
}
